.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
  font-family: "Roboto", sans-serif;
}

.top {
  height: 138px;
  width: 100vw;
  background-color: #128c7e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.app__body {
  z-index: 1;
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  margin-top: -40px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
